<mat-nav-list>
  <a mat-list-item routerLink="/admin">
    <mat-icon>dashboard</mat-icon>
    <span class="nav-link">Panel de control</span>
  </a>
  <a mat-list-item routerLink="/admin/user">
    <mat-icon>people</mat-icon>
    <span class="nav-link">Usuarios</span>
  </a>
  <a mat-list-item routerLink="/admin/incident">
    <mat-icon>warning</mat-icon>
    <span class="nav-link">Incidentes</span>
  </a>
  <a mat-list-item (click)="onExit()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-link">Salir</span>
  </a>
</mat-nav-list>
