.container {
  width: 100%;
  margin-top: 80px;
  min-height: 100vh;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.add {
  position: fixed;
  bottom: 60px;
  right: 10%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  
}
