<div class="login-container" [ngStyle]="backgroundStyle">
  <div class="login-form-content">
    <h2>Iniciar Sesión</h2>
    <mat-card-content class="container">
      <form [formGroup]="loginForm.baseForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            name="email"
            placeholder="ejemplo@correo.com"
            required
          />
          <mat-error *ngIf="checkField('email')">{{
            getErrorMessage("email")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            name="password"
            placeholder="+8 caracteres"
            required
          />
          <mat-error *ngIf="checkField('password')">{{
            getErrorMessage("password")
          }}</mat-error>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <a href="#">Olvidé mi contraseña</a>

        <div class="login-form-button">
          <button
            [disabled]="loginForm.baseForm.invalid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>
