mat-sidevan-container {
  position: relative;
  min-height: 100vh;
  /* border: 2px solid green; */
}
mat-sidenav {
  width: 20%;
  /* margin-top: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  /* margin-bottom: 50px; */
  /* border: 2px solid pink; */
}
mat-toolbar {
  height: 60px;
  background-color: #f2f2f2;

}

mat-sidenav-content {
  background: #f9fbfb;
  padding-bottom: 60px;
  /* border: 2px solid orange; */
}
