<footer class="footer">
  <div class="footer-container">
    <div class="footer-container_links">
      <a href="#">Acerca de</a>
      <span class="spacer"></span>
      <a href="#">Contáctanos</a>
    </div>
    <div class="footer-container_socials">
      <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
