.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  line-height: 50px;
  color: #3f51b5;
  background-color: #f9fbfb;
  box-shadow: 0 1px 1px 1px #3f51b5;
  /* border: 2px solid orange; */
}

.footer .footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
}

.footer .footer-container .footer-container_links {
  width: 100%;
  display: flex;
  padding-left: 10%;
  column-gap: 20px;
  align-items: center;
  /* background-color: green; */
}

.footer .footer-container .footer-container_socials {
  width: 100%;
  display: flex;
  padding-right: 10%;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 5px;
  /* background-color: rgb(128, 0, 53); */
  /* border: solid 2px red; */
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* border: solid 2px red; */
}
