body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin-top: 20px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70% 80vh;
  background-position: right;
  background-color: #f9fbfb;
  /* border: solid 2px red; */
}
.title-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 100px;
  /* border: solid 2px red */
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 2px green */
}
.content .p-group {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 24px;
}
p {
  width: fit-content;
  font-size: 48px;
  padding: 12px;

  /* border: solid 2px orange; */
}

.report {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
button{
  margin-top: 40px;
}
