<div class="container" [ngStyle]="backgroundStyle">
  <div class="title-container">
    <h1>No importa donde estés</h1>
    <h2>Reporta tus incidentes laborales desde cualquier lugar</h2>
  </div>
  <div class="content">
    <p class="report">REPORTA</p>
    <div class="p-group">
      <p>CONSULTA</p>
      <p>INFORMA</p>
      <p>EXPLORA</p>
      <p>COMPARTE</p>
    </div>
  </div>
  <button mat-raised-button color="primary" routerLink="/incident">
    <mat-icon>add</mat-icon>
    Más
  </button>
</div>
